/* Events Area css
============================================================================================ */
.events_area{
	
}
.events_item_inner{
	
}
.events_item{
	border: 1px solid #dedede;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 50px !important;
	&:last-child{
		margin-bottom: 0px !important;
	}
	.events_text{
		padding-left: 20px;
		padding-right: 70px;
		h4{
			color: $dip;
			font-size: 24px;
			margin-bottom: 12px;
			@include transition;
			&:hover{
				color: $baseColor;
			}
		}
		p{
			margin-bottom: 15px;
		}
		.date{
			margin-bottom: 25px;
			a{
				color: $baseColor;
				font-size: 16px;
				font-family: $open;
				font-weight: 600;
				margin-right: 20px;
				position: relative;
				&:before{
					content: "|";
					color: $baseColor;
					position: absolute;
					right: -16px;
					top: 50%;
					transform: translateY(-50%);
				}
				&:last-child{
					margin-right: 0px;
					&:before{
						display: none;
					}
				}
			}
		}
		.main_btn{
			line-height: 38px;
		}
	}
}
/* End Events Area css
============================================================================================ */

/* Events Details Area css
============================================================================================ */
.event_details_area{
	
}
.event_details_inner{
	.event_details_inner_text{
		.event_text{
			background: #fafafa;
			border: 1px solid #dedede;
			border-top: 0px;
			padding: 50px 40px;
			h3{
				color: $dip;
				font-size: 32px;
				margin-bottom: 22px;
			}
			h4{
				font-size: 24px;
				font-weight: normal;
				color: $dip;
				margin-bottom: 15px;
			}
			p{
				margin-bottom: 0px;
			}
			.about_event{
				margin-top: 40px;
				h4{
					margin-bottom: 22px;
				}
				.list{
					li{
						margin-bottom: 15px;
						a{
							font-size: 16px;
							color: $pfont;
						}
						&:last-child{
							margin-bottom: 0px;
						}
					}
				}
			}
			.event_map{
				margin-top: 40px;
				h4{
					margin-bottom: 35px;
				}
				.mapBox2{
					min-height: 335px;
				}
			}
		}
		.r_title{
			h3{
				&:before{
					display: none;
				}
			}
		}
	}
}
.event_date_inner{
	.media{
		margin-bottom: 40px;
		.d-flex{
			padding-right: 20px;
			i{
				color: $baseColor;
				font-size: 28px;
			}
		}
		.media-body{
			h5{
				font-size: 18px;
				font-weight: normal;
				color: $dip;
				margin-bottom: 12px;
			}
			p{
				margin-bottom: 0px;
			}
			.list{
				li{
					margin-bottom: 6px;
					a{
						position: relative;
						color: $pfont;
						padding-left: 12px;
						display: inline-block;
						&:before{
							content: "-";
							position: absolute;
							left: 0px;
							top: 0px;
						}
					}
				}
			}
		}
		&:last-child{
			margin-bottom: 0px;
		}
	}
}
/* End Events Details Area css
============================================================================================ */